<p id="notice"><%= notice %></p>

<h1 id="prodtitle">Products</h1>

<div class="container">

  <% @products.each do |product| %>
    <div class="col-md-4 ">
        <a href="#">
          <img id="prodimg" class="img-responsive" src="<%=product.address%>" alt="<%=product.name%>">
        </a>
        <h3>
          <a href="#"><%= link_to product.name, product %> $<%= product.formatted_price %></a>
        </h3>
        <p><%= product.description %></p>
        <%= link_to 'Edit', edit_product_path(product) %> <%= link_to 'Remove', product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    </div>
  <% end %>


</div>
<!-- /.container -->


<%= link_to 'New Product', new_product_path %>
