<% if !@image.errors.empty? %>
   <div class = "alert alert-error">

      <ul>
         <% @image.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </ul>

   </div>
<% end %>

<%=  params %>
<%= @image.product_id =  params[:format]%>
<% @image.product_id%>



<div class = "well">
   <%= form_for @image, html: { multipart: true } do |f| %>
      <% @image.product_id =  params[:format]%>
      <%= f.label :product_id %>
      <% f.text_field :product_id %>
      <%= f.label :image %>
      <%= f.file_field :attachment %>
      <%= f.submit "Save", class: "btn btn-primary" %>
   <% end %>
</div>
